<div class="jumbotron">
<h1>About our site</h1>

  <div class= "text">
<p>This bookstore application was developed by Devon Wesley, John Hopkins and John Roberts for Learners Guild. The purpose of this project was to learn about html, css, sql (we usedpostgres in  case you're wondering) and node.js development.  The site has basic CRUD functionality, as well as authentication functionality (implemented using passport).  We used handlebars for templating, and jasmine for limited testing as well as pg-promise to enable asynchronous calls to the database.  
</p>
  </div>

<div class="jumbotron">
<h1>About the Creators</h1>
  <div class= "text">
<p>
John Roberts is a veteran developer with many years of javascript experience. He's seldom seen without his faithful companion Sushi, an adorable chocolate lab.

Devon Wesley is an up and coming developer who you should be on the lookout for.  His specialty is React.js.

John Hopkins got his start with php and is quickly expaning his repertoire of languages in hopes of being a highly demanded software developer.

All three are natives of the Bay Area. 

If you're intersted in hiring one of these talented developers for your project please don't hesitate to contact us!  John Hopkins can be reached via email at johnthopkins@gmail.com.
</p>
  </div>
</div>