<div class="jumbotron">
  {{#each books}}
    <img src="{{image_url}}" />
    <h3> {{title}} </h3>
    <p>{{description}}</p>
    <a href="#" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-book"></span> View this title</a>
  {{/each}}
</div>
