<div class="col-md-12">
  <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
      <div class="panel-heading">
          <h3 class="panel-title">Edit genres info</h3>
      </div>
      <div class="panel-body">
        <form method="post" action="/genres/edit_genre/{{id}}" role="form">
          <fieldset>
            <div class="form-group">
              <label>Name:<label>
              <input class="form-control" value="{{genre.name}}" name="name" type="text">
            </div>
            <br/>
            <div class="form-group">
              <label>Description:</label>
                <textarea class="form-control" type="text" rows="5" name="description">{{genre.description}}</textarea>
            </div>
            <button class="btn btn-sm btn-success">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
